// -----------------------------------------------------------------------------
// This file contains styles that are specific to the Template 2 Page.
// -----------------------------------------------------------------------------

/* Pad's main content form, unless it's emebeded. */
body:not(#en__pagebuilder):not(.embedded) {
  .template-2 {
    #main-content-inner {
      padding: rem(50px 60px);
    }
  }
}

#main-content.template-2 {
  .header-logo {
    justify-content: center;
    height: auto;
    img {
      width: 178px;
    }

    a {
      cursor: pointer;
    }

  }
}
/* Below large breakpoint the main-content section is expanded to fill the full screen */
@include media(">large") {
  body:not(.embedded) #main-content.template-2 {
    margin: rem(35px 0);
  }
  body{
    background-image: url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10014/ICT-Donation-page-Background-Pattern-tile-cream.png?v=1550786373000");
    background-repeat: repeat;
    background-color: #f6f2e6;
  }
}
