/*
 * ##########################################################
 * # DEBUGGING: COLOR LAYOUT
 * ##########################################################
 */

 body.demo #debug-template{
    position: fixed;
    top: 0;
    left: 0;
    margin: 1rem;
    padding: .25rem;
    z-index: 9999;
    opacity: .75;   
    display: block !important;
}

 body.debug .en__component--row{
    background: lightblue;
}

body.debug .en__component--row--1 .en__component--column {
	background: blue;
}

body.debug .en__component--row--2 .en__component--column {
	background: orange;
}

body.debug .en__component--advcolumn {
	background: rebeccapurple;
}

body.debug .header {
	background-color: yellow;
}

body.debug .banner {
	background-color: red;
}

body.debug .sidebar {
	background-color: grey;
}

body.debug .content {
	background-color: green;
}

body.debug .footer {
	background-color: pink;
}

/*
 * ##########################################################
 * # DEBUGGINGL VISUALIZE LAYOUT
 * ##########################################################
 */

 body.demo #visualize-layout{
    position: fixed;
    top: 0;
    right: 0;
    margin: 1rem;
    padding: .25rem;
    z-index: 9999;
    opacity: .75;    
    display: block !important;
}

html,
body,
body.visualize-layout #main-content-wrapper,
body.visualize-layout #main-content,
body.visualize-layout #main-content-inner,
body.visualize-layout .en__component--row{
    background: #ffffff !important;
}

body.visualize-layout .en__component--column{
    background: #e3e3e3 !important;
}

body.visualize-layout .en__component--column > *{
    visibility: hidden !important;
}

body.visualize-layout div{
    border-color: #adaaaa !important;
}